html,
body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  width:84%;
  padding-left: 100px;
  padding-right: 100px;
  background:#333;
  /*background:#90C695;*/
}

ul{

  margin-top: 0;
    margin-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
}

.intro {
 
 /* background: #e0ebe8;*/

background-image:url(17.jpeg) ;
background-repeat: no-repeat;
background-size: 1000px 800px;
  min-height: 55vh;
  padding-top: 45vh;
  padding-bottom:20vh;
  /*   line-height: 100vh; */
  /*   width:100%;
  height:96vh;
border:solid; */
}

.intro p {
  color: green;
  font-size: 18px;
}

nav ul {
  padding-top:5px;
  padding-bottom:10px;
  margin-top: 10px;
  text-align: right;
  position: fixed;
  width: 70.6%;
  height:8%;
  background-color:thistle;
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 19px;
}

nav ul li a {
  color:#333;
  text-decoration: none;
  font-family:serif;
  font-size: 20px;
  font-weight: bold;

}

nav ul li a:hover {
  color:brown;
}

.work {
  padding-top:50px;
  margin-top:-40px;
  background:lemonchiffon;
  
height: 120%;
}

.work-header {
  margin-top:20px;
  margin-bottom: 20px;
  color: darkolivegreen;
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  font-size:50px;
}




.project-title {
  font-weight: bold;
  
  font-family:'Times New Roman', Times, serif;
  text-align:left;
  width:70%;
  margin-left:150px;
  display: block;
  font-size: 25px;


}





.contact {
  /*   height:800px; */
  /*   min-height:800px; */
  background:rgb(195, 224, 241);
  padding-bottom: 160px;
  margin-top:-90px;
}

.header {
  padding: 160px 0 110px;
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
}


.contact-details-img {
  font-weight: bold;
  margin: -100px 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90C695;
  border-radius: 100%;
  width:300px;
  height: 300px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
box-shadow: 0px 2px 15px #333;
 
}

.contact-details:hover {
  background:#C8F7C5;
  color: green;
}


  /*    #contact{
    min-height:1100px;
  } */
  .contact-details {
    font-weight: bold;
  margin: -100px 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90C695;
  border-radius: 100%;
  width:100px;
  height:100px;
  background:#E4F1FE;
  color: #008080;
  text-decoration: none;
box-shadow: 0px 2px 15px lightsalmon;
 
    
  }
